.btn-custom {
    background-color: #3f88f7;
    
}

.btn-custom:hover{
    background-color: #5799fc
}

.card-custom {
    background-color: #9fc5ff
}

.card-custom:hover{
    background-color: #9fc5ffc2;
}